.editor-panel-color-settings {
	.component-color-indicator {
		vertical-align: text-bottom;
	}

	&__panel-title .component-color-indicator {
		display: inline-block;
	}

	&.is-opened &__panel-title .component-color-indicator {
		display: none;
	}

	&__color-palette {
		margin-top: .6rem;
		margin-bottom: 1.4rem;
	}
}
